---
layout: default
---

<!DOCTYPE html>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <h3 style="text-align: center">{{site.description}}</h3>
  <p style="text-align: center">{{site.sub_description}}</p>
  {{ content }}
  

  <ul class="tags">
    {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
    {% endfor %}
    </ul>
    
  

  <div id="all-iframes">

  </div>
 
</div>

<script>
  window.onload = function () { 
  console.log("loaded");
    var sitelist = [];
    var reflist = [];
    {% assign path_to_l = "" | split: "," %} 
    {% for p in site.pages %}
    var path_to = "{{p.path}}";
    
    if(path_to.trim().includes(".md") && path_to.trim().includes("ontology")){
      if(path_to.trim().includes("outline")){

      } else{
        {% assign pp = p.path %}
        var p_md_name = "{{pp}}";
        p_md_name = p_md_name.split(".")[0];
        sitelist.push(p_md_name);
        reflist.push(p_md_name.split("/")[1]);
      }       
    }      
    {% endfor %}
    console.log("got sitelist: " + sitelist);
    
  
    // programatically add iframes: 
    var num_ids = sitelist.length;
    var f = "";
    for (let i = 0; i < num_ids; i++) {
      
      //outline:
      f = "switch-to-full" + i;
      $("<div />", { "class": "wrapper", id: "outline" + i , style: "outline:0.01em solid black; outline-offset: -8px; float:left; background-color: #EBEBEB;"})
        .append($("<iframe src='" + sitelist[i] + "_outline.html' width='750' height='150' frameborder='0' scrolling='no'></iframe>", { type: "iframe", id: "outline-frame" + i }))
        .append($("<button id='" + f + "' type='button' class='btn btn-primary'>View full</button><br /><br />"))
        .on("click", "button", function(){
          $("#full-details" + i).show();
          $("#outline" + i).hide();
        })
        .appendTo("#all-iframes");

        
      //full:
      f = "switch-to-outline" + i;
      $("<div />", { "class": "wrapper", id: "full-details" + i, style: "outline:0.01em solid black; outline-offset: -8px; float:left; background-color: #EBEBEB;" })
        .append($("<iframe src='" + sitelist[i] + ".html' width='760' height='720' frameborder='0' scrolling='no'></iframe>", { type: "iframe", id: "full-frame" + i }))
        .append($("<button id='" + f + "' type='button' class='btn btn-primary'>View outline</button><br /><br />"))
        .on("click", "button", function(){
          $("#full-details" + i).hide();
          $("#outline" + i).show();
        })
        .appendTo("#all-iframes");
      
    }
      

    //initilise view - works:
    for (var j = 0; j < num_ids; j++) {
      $("#full-details" + j).hide();
      $("outline" + j).show();
    }
   
    
  }

</script>